@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

.body {
  font-family: "Fragment Mono", monospace;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges; 
  image-rendering: -webkit-crisp-edges;
}

.gradientBackground {
  background: linear-gradient(to bottom, #dcfaff 0%, #ffffff 52%, #b5bcc5 52.1%, #ffffff 100%);
}

.buttonContainer {
  position: fixed;
  bottom: 1%;
  right: 10px;
  z-index: 3;
} 

.logo {
  position: absolute;
  top: 19%;
  left: 1%;
  width: 10%; 
  height: 75%; 
  padding-left: 0%;
  user-select: none;
}

@media only screen and (max-width: 1024px) {
.logo {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 30%; 
  height: auto; 
  padding-left: 1%;
  user-select: none;
}
}

.canvas-container {
  width: 80vw;
  height: 80vh;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges; 
  image-rendering: -webkit-crisp-edges; 
}

  
.viewerWrapper {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  
}

@media screen and (min-width: 1024px) {
  .viewerWrapper {
    width: 50%; /* takes up the half width of its parent on desktop */
    margin: 0 auto; /* centers the element horizontally */
    height: 70vh; /* takes up the half height of the viewport on desktop */
	z-index: 2;
  }
}
  
.Description {
font-family: "Fragment Mono", monospace;	
  position: absolute;
  top: calc(50% - 22%);  /* adjust the px for vertical displacement */
  left: calc(50% + 7%); /* adjust the px for horizontal displacement */
  padding-right: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgba(180, 180, 180, 0.2); /* Semi-transparent black */
  color: black; /* Text color */
  text-align: right;
  z-index: 1;
  user-select: none;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -webkit-crisp-edges; /* Webkit (Safari/Chrome) */
}

@media only screen and (max-width: 1024px) {
  .Description {
  position: absolute;
  top: calc(50% - 28%);  /* adjust the px for vertical displacement */
  left: calc(50% + 7%); /* adjust the px for horizontal displacement */
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgba(180, 180, 180, 0.2); /* Semi-transparent black */
  color: black; /* Text color */
  text-align: right;
  z-index: 1;
  user-select: none;
  }
}



.footerMintButton {
  background-color: #00ecb556;
  opacity: 1; /* 70% opacity */
  border: none;
  border-radius: 50%; /* Makes it a circle */
  color: #ffffff;
  cursor: pointer;
  margin: 0 10px;
  font-size: 40px;
  transition: background-color 0.3s ease;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), /* Outer shadow */
              inset 1px 1px 3px rgba(0, 0, 0, 0.2); /* Inner shadow */
  backdrop-filter: blur(15px); /* 12px background blur */
  position: relative;
  right: -10px; /* move the button to the right of the footer */
  width: 70px;
  height: 70px;
}

.footerRollButton {
  background-color: #bcaf002c;
  opacity: 1; /* 70% opacity */
  border: none;
  border-radius: 50%; /* Makes it a circle */
  color: #ffffff;
  cursor: pointer;
  margin: 0 10px;
  font-size: 40px;
  transition: background-color 0.3s ease;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), /* Outer shadow */
              inset 1px 1px 3px rgba(0, 0, 0, 0.2); /* Inner shadow */
  backdrop-filter: blur(15px); /* 12px background blur */
  position: relative;
  right: -10px; /* move the button to the right of the footer */
  width: 70px;
  height: 70px;
}

.footerMintButton:hover {
  background-color: #1dc4bc56;
}

.footerMintButton:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

.footerRollButton:hover {
  background-color: #fff3b24b;
}

.footerRollButton:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}


.buttonRotateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50%;
  padding: 10px 20px;
  background-color: #f5f5f500;
  border-radius: 8px;
  position: absolute; /* or use fixed if you want it to stay in the same position even when scrolling */
  bottom: 10%; /* Adjust this value to move it higher or lower */
  left: 50%; /* This, combined with the transform below, centers the container horizontally */
  transform: translateX(-50%); /* Center the container */
  z-index: 2;
}

.rotateButtonRight, .rotateButtonLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #b5bcc500;
  transition: transform 0.4s; 
  transform: scale(1); /* Default scale is 1 (no scaling) */
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  -webkit-tap-highlight-color: transparent;
}

.rotateButtonRight:hover, .rotateButtonLeft:hover {
  transform: scale(1.2); /* Scale up by 10% on hover; adjust as desired */
}

.icon {
  width: 10vh;
  height: 10vh;
  pointer-events: none; /* This prevents any mouse events on the image */
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}
