@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

.body {
  font-family: "Fragment Mono", monospace;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradientBackground {
  background-image:linear-gradient(rgba(255, 255, 255, 0.164), rgba(134, 157, 234, 0.311)), 
  url('/background_whitespace_var.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.logo {
  position: absolute;
  top: 19%;
  left: 1%;
  width: 10%; 
  height: 75%; 
  padding-left: 0%;
  user-select: none;
}

@media only screen and (max-width: 1024px) {
.logo {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 30%; 
  height: auto; 
  padding-left: 1%;
  user-select: none;
}
}

.canvas-container {
  width: 80vw;
  height: 80vh;

}

  
.viewerWrapper {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  
}

@media screen and (min-width: 1024px) {
  .viewerWrapper {
    width: 50%; /* takes up the half width of its parent on desktop */
    margin: 0 auto; /* centers the element horizontally */
    height: 70vh; /* takes up the half height of the viewport on desktop */
	z-index: 2;
  }
}
  
.Description {
  font-family: "Fragment Mono", monospace;
  position: absolute;
  top: 1%; 
  right: 0%; 
  width: auto;
  max-width: 400px; 
  padding: 3% 3%; 
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(0, 0, 0, 0.75); 
  text-align: left;
  z-index: 1;
  user-select: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: inset -0.2rem -0.2rem 1.2rem rgba(255, 255, 255, 0.8), 
  inset 0.2rem 0.2rem 0.5rem rgba(77, 77, 77, 0.4);
  
}


@media only screen and (max-width: 1024px) {
  .Description {
    max-width: 300px; /* Adjusted maximum width for smaller screens */
  }
}


.buttonContainer {
  position: fixed;
  bottom: 4%;
  width: 100%; 
  z-index: 3;
}


.footerMintButton, .footerRollButton {
  font-family: "Fragment Mono", monospace;
  font-weight: regular;
  background-color: rgba(255, 255, 255, 0.25); 
  color: rgb(35, 35, 35); 
  border: none;
  border-radius: 10px; /* Slightly rounded */
  cursor: pointer;
  margin: 0 10px;
  font-size: 100%; 
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: -0.075rem -0.075rem 0.5rem rgba(255, 255, 255, 1), 
  0.075rem 0.075rem 0.5rem rgba(8, 8, 8, 0.35); 
  backdrop-filter: blur(5px); 
  position: fixed;
  bottom: 6vh;
  width: 20vw; 
  height: 5vh; 
  display: flex; /* To center text inside the button */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; 
  user-select: none; /* Disable text selection */
}

@media (min-width: 768px) {
  .footerMintButton, .footerRollButton {
    font-size: 130%; /* Larger font size for desktops */
  }
}

.footerMintButton {
  right: 20vw;
}

.footerRollButton {
  left: 20vw;
}

.footerMintButton:hover {
  background-color: rgba(244, 244, 244, 0.6); 
  color: rgb(121, 193, 135); 
  box-shadow: -0.075rem -0.075rem 0.1rem rgba(255, 255, 255, 0.4), 
  0.075rem 0.075rem 0.1rem rgba(8, 8, 8, 0.5);
}

.footerRollButton:hover {
  background-color: rgba(244, 244, 244, 0.6); 
  color: rgb(92, 92, 92); 
  box-shadow: -0.075rem -0.075rem 0.1rem rgba(255, 255, 255, 0.4), 
  0.075rem 0.075rem 0.1rem rgba(8, 8, 8, 0.5);
}

.footerMintButton:active, .footerRollButton:active {
  background-color: rgba(180, 180, 180, 0.1); 
  color: rgb(112, 112, 112);  
}




.buttonRotateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40%;
  padding: 10px 20px;
  background-color: #f5f5f500;
  height: 10%;
  border-radius: 8px;
  position: fixed; 
  bottom: 15%; 
  left: 50%; 
  transform: translateX(-50%); /* Center the container */
  z-index: 3;
}

.rotateButtonRight, .rotateButtonLeft {
  touch-action: manipulation;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  background-color: #b5bcc500;
  transition: transform 0.4s; 
  transform: scale(1); /* Default scale is 1 (no scaling) */
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  -webkit-tap-highlight-color: transparent;
}

.rotateButtonRight:hover, .rotateButtonLeft:hover {
  transform: scale(1.2); /* Scale up by 10% on hover; adjust as desired */
}

.icon {
  width: 10vh;
  height: 10vh;
  pointer-events: none; /* This prevents any mouse events on the image */
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  -webkit-tap-highlight-color: transparent;
}

.loadingIndicator {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 0px;
  background-color: rgba(0, 0, 0, 0.372), 0.7);
  color: white;
  border-radius: 5px;
  z-index: 1000;
  font-size: 1.2em;
}
